#top {
    text-align: center;
}

#top-img {
    width: 60%;
}

#name-input {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

#searchInput {
    width: 25%;
    font-size: small;
}

#searchBtn {
    background-color:rgb(243,218,84);
    border-radius: 0.4rem;
    margin-top: 1rem;
    margin-left: 5rem;
    width: 8%;
}

.input-box-style {
    border-radius: 0.3rem;
    border-color: cornflowerblue;
    width: 13rem;
    color: gray;
}